mixin NavbarHome 
  nav.navbar.navbar-landing.navbar-home.navbar-expand.py-4.px-0
    ul.navbar-nav.mx-auto.mt-3.mt-lg-0.gap-2
      li.nav-item.d-flex.align-items-center
        a.nav-link.fw-bold.rounded-3.active(aria-current='page' href='#!') 
          span.fa-solid.fa-hotel.me-2
          | Hotel
      li.nav-item
        a.nav-link.fw-bold.rounded-3(href='#!') 
          span.fa-solid.fa-plane.me-2
          | Flight
      li.nav-item
        a.nav-link.fw-bold.rounded-3(href='#!') 
          span.fa-solid.fa-cannabis.me-2
          | Trip